.sidebar-item{
  width: 150px;
  height: 44px;
  padding: 14px 0 11px 16px;
  color: #AAAAAA;
  font-size: 16px;
  font-weight: 700; 
  line-height: 18.75px;
  border-bottom: 1px solid #5C5C5C;
  position: relative;
  

}
.home {
  color: #FFFFFF;
}
.active{
  color: #FFFFFF;
  background-color: #5C5C5C;
}
.mouse-img{
  position: absolute;
  top: 18px;
  right: 18px;
}